.mobile-sandwich-button {
  margin: 10px 8px !important;
}

.app-item-container {
  width: 80px !important;
  height: 80px !important;
  border-radius: 0;
}

.app-item-text {
  font-size: 12px;
  line-height: 20px;
}
