.upload-background {
  background-color: #FAFAFF;
}

.splitter {
  border-right: 1px solid #3B4148;
  box-shadow: 8px 0 24px rgba(0, 0, 0, 0.16), 4px 0 16px rgba(0, 0, 0, 0.08);
}

.image-dropzone {
  /* #FFFFFF */

  background: #FFFFFF;
  /* #CED0EA */

  border: 1px dashed #CED0EA;
  border-radius: 8px
}

