.upload-background {
  background-color: #fafaff;
}

.splitter {
  border-right: 1px solid #3b4148;
  box-shadow: 8px 0 24px rgba(0, 0, 0, 0.16), 4px 0 16px rgba(0, 0, 0, 0.08);
}

.image-dropzone {
  /* #FFFFFF */

  background: #ffffff;
  /* #CED0EA */

  border: 1px dashed #ced0ea;
  border-radius: 8px;
}
.content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.svg-container {
  display: flex;
  justify-content: flex-starat;
  margin-left: 10px;
}

.item-container {
  margin-left: 10px;
}

.img-container {
  width: 193px;
  height: 300;
  padding-top: 111%;
  position: relative;
}

.item-header {
  background-color: #1f103b;
}

.content-image {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.item-label {
  margin-bottom: 0;
  line-height: 20px;
}
