.mobile-banner-height {
  width: 100%;
  max-height: 60vh;
}

.transform-90 {
  transform: rotate(-90deg);
  width: 146px;
  margin-left: -45px;
  margin-bottom: 85px;
}

.xl-font-size {
  font-size: 40px;
  text-shadow: 0 8px 16px rgba(255, 255, 255, 0.24), 0 4px 8px rgba(255, 255, 255, 0.16);
  line-height: 50px;
}

.custom-mb {
  margin-bottom: 43px;
  //letter-spacing: 0.15em;
  text-shadow: 0 8px 16px rgba(255, 255, 255, 0.24), 0 4px 8px rgba(255, 255, 255, 0.16);
}