.avatar-sticker {
  color: #FFD643;
  text-shadow: 0 0 3px #FFD645;
  transform: rotate(-15deg);
  font-family: Caveat, cursive;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 0;
  width: 48px;
  text-align: center;
}

.item-header {
  background-color: #1F103B;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.active-item-header {
  background: linear-gradient(89.02deg, #6226D9 0.89%, #8C52FF 100%), #1F103B;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.rounded-border {
  border-radius: 8px;
}

.item-container {
  position: relative;
  box-shadow: 0px 8px 16px rgba(18, 20, 39, 0.24), 0px 4px 8px rgba(18, 20, 39, 0.16);
  border-radius: 4px;
}

.item-inActive {
  opacity: .5;
}

.item-active {
  opacity: 1;
}

.item-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.item-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.inventory-container {
  max-width: 430px;
  padding-top: 111%;
  position: relative;
}

@media (min-width: 764px) {
  .item-container:hover .item-image {
    opacity: 0.5;
  }

  .item-container:hover .item-middle {
    opacity: 1;
  }
}
