html {
    --primaryBackgroundColor: white;
    --primaryTextColor: #121427;
    --primaryGrayColor: #71727D;
}

@media (prefers-color-scheme: dark) {
    html {
        --primaryBackgroundColor: #121427;
        --primaryTextColor: white;
        --primaryGrayColor: #CED0EA;
    }
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primaryTextColor);
    background-color: var(--primaryBackgroundColor);
}

h1 {
    margin: 0;
}

@media (min-width: 1140px) {
    h1 {
        font-size: 32px;
        line-height: 48px;
    }

    h3 {
        font-size: 24px;
        line-height: 36px;
    }

    h5 {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (min-width: 960px) {
    h1 {
        font-size: 31px;
        line-height: 46px;
    }

    h3 {
        font-size: 23px;
        line-height: 34.5px;
    }

    h5 {
        font-size: 17.5px;
        line-height: 28.5px;
    }
}

@media (min-width: 720px) {
    h1 {
        font-size: 30px;
        line-height: 44px;
    }

    h3 {
        font-size: 22px;
        line-height: 33px;
    }

    h5 {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (min-width: 720px) {
    h1 {
        font-size: 29px;
        line-height: 42px;
    }

    h3 {
        font-size: 21px;
        line-height: 31.5px;
    }

    h5 {
        font-size: 16.5px;
        line-height: 25.5px;
    }

    .logo-max-width {
        max-width: 275px;
    }
}

@media (max-width: 720px) {
    h1 {
        font-size: 28px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
        line-height: 30px;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
    }

    .bottom-stepper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #121427;
    }

    .logo-max-width {
        max-width: 182px;
    }

    .vh-100 {
        height: calc(100vh - 56px) !important;
    }

    .vh-max-100 {
        max-height: calc(100vh - 56px) !important;
    }
}

h3 {
    margin: 0;
}

h5 {
    font-weight: normal;
    margin: 0;
}

label {
    font-size: 14px;
    line-height: 21px;
}

label.font-lg {
    font-size: 20px;
    line-height: 30px;
}

label.font-tiny {
    font-size: 11px;
    line-height: 16px;
}

label.font-sm {
    font-size: 12px;
    line-height: 18px;
}

label.disabled {
    color: #71727D;
}

.gray-color {
    color: var(--primaryGrayColor);
}

code {
    font-family: 'Poppins', sans-serif;
}

.object-fit {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.vh-max-100 {
    max-height: 100vh;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.font-weight-medium {
    font-weight: 500;
}

.bottom-stepper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #121427;
}

.separator-border-top {
    border-top: 1px solid #CED0EA;
}

.horizontal-separator {
    background: #CED0EA;
    height: 1px;
}

.app-bar-width {
    width: 80px;
    background-color: #2D333A;
}